GroundingDINO_SwinB.cfg.py
groundingdino_swinb_cogcoor.pth
sam2.1_hiera_large.pt
sam2.1_hiera_small.pt
yolo_config.yaml
yolov8n.pt
yolov8x.pt
yolov8x_anonymizer.pt
yolo11x.pt
yolo11x_anonymizer.pt

dataset/

runs/
build/
autoware_rosbag2_anonymizer.egg-info
*__pycache__

.vscode/
*.code-workspace

.idea/
.venv/
